# Ignore local dependencies
node_modules
npm-debug.log
yarn-error.log

# Ignore data and user files
data
*.db

# Ignore version control
.git
.gitignore

# Ignore OS / editor files
.DS_Store
Thumbs.db

# Ignore Docker files themselves if you want
Dockerfile
docker-compose.yml