<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add New Plant</title>
        <link rel="stylesheet" href="/styles_add_plant.css">
    </head>
    <body>
        <main>
            <div class="main-container">
                <h1>Add plant</h1>
                <form action="/save-plant" method="POST">
                    <button id="snap">
                        <img src="/icons/add_photo.svg">
                    </button>
                    <!-- <input type="file" id="ppicture" name="ppicture" accept="image/*" capture="environment"/> -->
                    <label for="pname">Plant name:</label>
                    <input type="text" id="pname" name="pname"><br>
                    <label for="bname">Botanical name:</label>
                    <input type="text" id="bname" name="bname">
                    <label for="pdate">Date of purchase:</label>
                    <input type="date" id="pdate" name="pdate">
                    <button type="submit">Save</button>
                </form>
            </div>
        </main>
        <script src="/addplant.js" type="module" defer></script>
    </body>
</html>