<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Plant Log</title>
        <div id="header">
            <h1 id="primary-title">Peikonlehti</h1>
            <h4 id="secondary-title"><i>Monstera deliciosa</i></h4>
        </div>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main>
            <div id="img-container">
                <img id="plant-img" src="/images/monstera.jpg">
            </div>
            <!-- <i>Monstera</i> -->
     
        </main>
    </body>
</html>