:root {
    --bg:#f5fbf3;
    --text: ;
    --surface: #d2f693;
    --border: #053034;
    --primary: #77d0d1;
    --muted: ;
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
    font-family: 'Rubik', monospace;
}

#label {

}

/* button {
    all: unset;
    cursor: pointer;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
} */

/* button:focus {
    outline: none;
} */

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#primary-title {
    margin-bottom: 0;
}

#secondary-title {
    margin-left: 5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: var(--surface);
    border-radius: 1rem;
    box-shadow: 3px 3px 5px lightslategray;
}

#img-container {
    width: 75%;
    height: 40vh;
}

#plant-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 20rem 20rem 0;
}

#btn-row-bottom {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    display: none;
    justify-content: center;
    align-items: center;

}

#water-btn {
    width: 5rem;
    height: 5rem;
    background-color: var(--primary);
    border-radius: 50%;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-self: end;
    justify-content: start;
    align-items: start;
    width: 70%;
    margin: 0.5rem;
    padding-left: 1rem;
    background-color: var(--surface);
    border-radius: 12px;
    box-shadow: 3px 3px 5px lightslategray;
}