:root {
    --bg: #fde6c9;
    --text: ;
    --surface: #daf7a9;
    --border: #053034;
    --primary: #77d0d1;
    --muted: ;
    --label: #ffffe7;
    --overlay: rgba(174, 224, 230, 0.8)
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    font-family: 'Rubik', monospace;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#primary-title {
    margin-bottom: 0;
}

#secondary-title {
    margin-left: 5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: var(--surface);
    border-radius: 1rem;
    box-shadow: 3px 3px 5px lightslategray;
}

#img-container {
    width: 75%;
    height: 40vh;
}

#plant-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 20rem 20rem 0;
}

#btn-row-bottom {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.round-btn {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    /* z-index: 6; */
}

#water-btn {
    display: none;
    width: 4rem;
    height: 4rem;
    background-color: var(--primary);
    border-radius: 50%;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 70%;
    margin: 0.5rem;
    padding-left: 1rem;
    background-color: var(--surface);
    border-radius: 12px;
    box-shadow: 3px 3px 5px lightslategray;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    margin-bottom: 1rem; 
}

.pill {
    text-align: center;
    margin-left: 0.5rem;
    padding: 0.2rem;
    border-radius: 16px;
    background-color: var(--label);
}

#info-view {
    z-index: -1;
}

#care-view {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--overlay);
    backdrop-filter: blur(2px);

    transform: translateX(100%);
    transition: transform 0.3s ease;
}

#care-view.open {
    transform: translateX(0);
}

#top-row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-row h1 {
    margin: 0;
}

#water-drop-svg {
    border: 2px solid black;
}