:root {
    --bg: #a9ad9b;
    --text: ;
    --surface: #f5f0e7;
    --border: #053034;
    --primary: #99a98f;
    --muted: ;
    --label: #fefae0;
    --overlay: #fefae0;
    --secondary-surface: #dce3c7;

    --success: #6b8e6b;
    --warning: #c94c4c;
}

@font-face {
    font-family: 'SUSEMono';
    src: url('fonts/SUSEMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    font-family: 'SUSEMono', monospace;
}

h1, h2, h3, h4, p, i, li, button, img {
    user-select: none;
}

button, input, select {
    font-family: 'SUSEMono', monospace;
}

button {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
