:root {
    --bg: #a9ad9b;
    --text: ;
    --surface: #f5f0e7;
    --border: #053034;
    --primary: #99a98f;
    --muted: ;
    --label: #fefae0;
    --overlay: #fefae0;
    --secondary-surface: #dce3c7;

    --success: #6b8e6b;
    --warning: #c94c4c;

    --water-progress: 80deg;
    --mist-progress: 270deg;
    --fertilizer-progress: 80deg;

}

@font-face {
    font-family: 'SUSEMono';
    src: url('fonts/SUSEMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    font-family: 'SUSEMono', monospace;
}

h1, h2, h3, h4, p, i, li, button, img {
    user-select: none;
}

button, input, select {
    font-family: 'SUSEMono', monospace;
}

button {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#primary-title {
    margin-bottom: 0;
}

#secondary-title {
    margin-left: 5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    background-color: var(--surface);
    border-radius: 1rem;
    box-shadow: 3px 3px 2px lightslategray;
}

#app {
    height: 100%;
}

#img-container {
    height: 50dvh;
    margin: 0.5rem;
}

#plant-img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    object-fit: cover;
}

.command-bar-btn {
    width: 100px;
    height: 70%;
    border-radius: 12px;
    background-color: #D9E9CF;
    box-shadow: 0 3px 0 1px black;
    border: none;
}

.command-bar-btn:active {
    transform: translateY(4px);
    box-shadow: 0 1px 0 1px black;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    margin-bottom: 1rem; 
}

.pill {
    text-align: center;
    margin-left: 0.5rem;
    padding: 0.2rem;
    min-width: 4rem;
    border-radius: 16px;
    border: 1px solid darkgray;
    background-color: var(--label);
    font-size: large;
}

#info-view {
    z-index: -1;
    height: 100%;
}

.info-bottom-half {
    height: 50dvh;
}

.info-data-container {
    height: 70%;
    margin: 0.5rem;
    margin-top: 0;
    padding-bottom: 0.7rem;
    background-color: var(--surface);
    border-radius: 12px;
    box-shadow: 2px 2px 2px lightslategray;
}

#btn-row-bottom {
    height: 18%;
    margin: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 12px; */
    /* background-color: var(--secondary-surface); */
    /* box-shadow: 2px 2px 2px lightslategray; */
}

#info-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 1rem;
}

.title {
    margin-top: 10px;
    margin-bottom: 0;
}

.secondary-title {
    font-size: large;
    padding-left: 4rem;
}

#care-view {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(109, 218, 255, 0.5);
    backdrop-filter: blur(12px);
    transform: translateX(100%);
    transition: transform 0.4s ease;
}

#care-view.open {
    transform: translateX(0);
}

#top-row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.round-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid black;   
}

.invisible-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    /* border: 2px solid black;    */
}

#close-water-btn {
    position: absolute;
    left: 1.5rem;
}

#close-history-btn {
    position: absolute;
    right: 1.5rem;
}

.close-btn-icon {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%);
}

#top-row h1 {
    margin: 0;
}

#water-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#water-drop-svg {
    padding-bottom: 40px;
    overscroll-behavior: contain;
    touch-action: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#water-type {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.water-type-icon {
    height: 45px;
}

.water-options {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

#water-amount {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-large;
}

#unit-types-btn {
    position: absolute;
    left: calc(50% + 90px);
}

#cycle-icon {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    height: 32px;
    transform: translate(-50%,-50%);
    transition: transform .5s ease;
}

#water-btn-row {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#water-btn {
    position: relative;
    padding: 15px 32px;
    width: 250px;
    border-radius: 16px;
    font-size: large;
    cursor: pointer;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid black;
    transition: background-color 1s ease;
    font-weight: bold;
}

#water-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(0, 135, 193, 0.8);
    transition: width 1s ease;
    z-index: -1;
}

#water-btn:not(:disabled):active::before {
    width: 100%;
}

#water-btn:disabled {
    pointer-events: none;
    border: 3px solid gray;
}

#water-btn.filled::before {
    width: 100%;
}

#water-btn.show-result::before {
    width: 0 !important;
    transition: none !important;
}

#water-btn.success {
    background-color: var(--success);
    color: white;
}

#water-btn.failure {
    background-color: var(--warning);
    color: white;
}

#water-btn.inactive {
    pointer-events: none;
}

.dropdown {
    margin-bottom: 0.5rem;
    height: 3rem;
    width: 10rem;
    text-align: center;
    border: 2px solid black;
    border-radius: 16px;
    font-size: medium;
    background-color: transparent;
    font-weight: bold;
    background-color: var(--primary);
}

#care-top-row {
    position: absolute;
    width: 100%;
    padding: 6px;
    padding-left: 6px;
}

#history-view {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    transform: translateX(-100%);
    transition: transform 0.4s ease;
}

#history-view.open {
    transform: translateX(0);
}

#delete-confirmation {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: -2;
    opacity: 0%;
    transition: opacity .5s ease;
}

.increase-opacity {
    opacity: 100% !important;
}

.increase-Zindex {
    z-index: 1 !important;
}


.confirmation {
    position: relative;
    height: 200px;
    width: 300px;
    background-color: var(--overlay);
    border-radius: 12px;
}

.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 5px;
}

.info-text p {
    margin-top: 0;
    margin-bottom: 0;
}

.btn-row-confirmation {
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.warning-btn {
    background-color: var(--warning);
}

#history-top-row {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
}

#action-list {
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: calc(100% - 70px);
    width: 100%;
    overflow-y: auto;
}

.history-item {
    position: relative;
    width: 80%;
    background-color: var(--surface);
    box-shadow: 2px 2px 2px lightslategray;
    border-radius: 12px;
    margin: 0.6rem;
    transition: transform 1s ease;
}

.deleting-history-item {
    transform: translateX(200%);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    width: 100%;
}

.watering-icon {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.6rem;
}

.card-content {
    display: grid;
    grid-template-columns: 5.5rem auto;
    padding: 1rem;
    gap: 0.3rem;
}

.delete-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.6rem;
    border: none;
    background-color: transparent;
    cursor: pointer;    
}

.care-action-name {
    margin: 0;
}

.progress-bar-row-container {
    display: flex; 
    align-items: center; 
    justify-content: space-evenly;  
    padding-top: 0.5rem;
}

.progress-bar-container {
    display: flex; 
    flex-direction: 
    column; 
    align-items: center;
}

.progress-bar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: rotate(140deg);
}

.progress-bar-icon {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%,-50%) rotate(-140deg);
}

.progress-bar.water {
    background: 
        radial-gradient(closest-side, var(--surface) 79%, transparent 80% 100%),
        conic-gradient(transparent 80deg,#2b6d9a 80deg var(--water-progress), #a3c1e0 var(--water-progress) 360deg);
}

.progress-bar.mist {
    background: 
        radial-gradient(closest-side, var(--surface) 79%, transparent 80% 100%),
        conic-gradient(transparent 80deg,#2b6d9a 80deg var(--mist-progress), #a3c1e0 var(--mist-progress) 360deg);
}

.progress-bar.fertilizer {
    background: 
        radial-gradient(closest-side, var(--surface) 79%, transparent 80% 100%),
        conic-gradient(transparent 80deg,#63a37e 80deg var(--fertilizer-progress), #a3c1a0 var(--fertilizer-progress) 360deg);
}

.progress-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

